<!--CATEGORIAS-->
<div class="item">
  <div>Categoria</div>
  <div>
    <select name="category_id">
      {% for category in categories %}
          <option value="{{category.id}}" 
            {% if products.category_id == category.id %}
              selected
            {%endif%}>
              {{category.name}}
          </option>
      {% endfor %} 
    </select>
  </div>
</div>

<!--NOME-->
<div class="item">
  <div>Título</div>
  <div>
      <input 
         type="text" 
         name="name" 
         placeholder="Digite o título do Anúncio"
         value="{{ product.name }}">
  </div>
</div>

<!--DESCRIÇÃO-->
<div class="item">
  <div>Descrição</div>
  <div>
      <textarea name="description" cols="30" rows="10">
         {{product.description}}
      </textarea>
  </div>
</div>

<!--PREÇO-->
<div class="item">
  <div>Valor</div>
  <div>
      <input 
         type="number" 
         name="price" 
         placeholder="Valor do produto"
         value="{{ product.price }}">
  </div>
  {% if product.old_price %}
      <input type="hidden" name="old_price" value="{{product.old_price}}">
  {% endif %}
</div>

<!--QUANTIDADE-->
<div class="item">
  <div>quantidade</div>
  <div>
      <input 
         type="number" 
         name="quantity" 
         placeholder="Digite o nome do Anúncio"
         value="{{ product.quantity }}">
  </div>
</div>

<!--DISPONIVEL-->
{% if product.status %}
   <div class="item">
      <div>Disponivel?</div>
      <div>
         <span> 
            <input type="radio" name="status" id="" value="1" 
            {% if product.status == "1" %}
            checked
            {% endif %}>
            Sim
         </span>

         <span> 
            <input type="radio" name="status" id="" value="0"
            {% if product.statu == "F" %}
            checked
            {% endif %}> 
            Não
         </span>
      </div>  
   </div>
{% endif %}

